*.avi
*.exe
*.flp
*.gif
*.mp4
*.sf2
*.yymps
*.zip
Audio/Dialogue/Projects/
Cutscenes/Audio/Background Audio/
Extensions/Backup/
ldtk/
Planning/Articy Draft/
Planning/Lorikeet/
Planning/Models/
export/*.tar.gz
