*.ttf
*.otf
*.avi
Audio/Music_Remastered/Soundfonts/
ldtk/
*.sf2
*.flp
Planning/Models/Wizard's Tower_Interior/Bricks076A_2K-PNG.zip
Planning/Models/Wizard's Tower_Interior/Floor/Tiles084_2K_AmbientOcclusion.png
Planning/Models/Wizard's Tower_Interior/Floor/Tiles084_2K_Color.png
Planning/Models/Wizard's Tower_Interior/Floor/Tiles084_2K_Displacement.png
Planning/Models/Wizard's Tower_Interior/Floor/Tiles084_2K_NormalDX.png
Planning/Models/Wizard's Tower_Interior/Floor/Tiles084_2K_NormalGL.png
Planning/Models/Wizard's Tower_Interior/Floor/Tiles084_2K_Roughness.png
Planning/Models/Wizard's Tower_Interior/Tiles084_2K-PNG.zip
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_2K_AmbientOcclusion.png
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_2K_Color.png
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_2K_Displacement.png
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_2K_NormalDX.png
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_2K_NormalGL.png
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_2K_Roughness.png
Planning/Models/Wizard's Tower_Interior/Walls/Bricks076A_PREVIEW.jpg
Planning/Models/Wizard's Tower_Interior/Wizard Tower_Interior.blend
Planning/Models/Wizard's Tower_Interior/Wizard Tower_Interior.blend1
